<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>StreamBED</title>
    <link href="ms-appx-web:///css/default.css" rel="stylesheet" />
    <link href="ms-appx-web:///css/transitions.css" rel="stylesheet" />
    <link href="ms-appx-web:///css/areas.css" rel="stylesheet" />
</head>
<body>
    <script src="ms-appx-web:///js/main.js"></script>
    <script src="ms-appx-web:///js/areas.js"></script>

    <div id="layoutRoot" class="fadeInTransition">
        <p id="pageContent" class="textContent mainContent">HELLO WORLD</p>
    </div>
</body>
</html>
