<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>StreamBED</title>
    <link href="ms-appx-web:///css/default.css" rel="stylesheet" />
    <link href="ms-appx-web:///css/transitions.css" rel="stylesheet" />
    <link href="ms-appx-web:///css/intro.css" rel="stylesheet" />
</head>
<body>
    <script src="ms-appx-web:///js/main.js"></script>
    <script src="ms-appx-web:///js/intro.js"></script>

    <div id="layoutRoot" class="fadeInTransition">
        <button id="nextButton" class="button roundButton"
                onmouseover="buttonOnMouseOver()" onmouseleave="buttonOnMouseLeave()"
                onclick="nextButtonOnClick()">
            Next
        </button>

        <p id="pageContent" class="textContent mainContent"></p>
    </div>
</body>
</html>
