<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>StreamBED</title>
    <link href="ms-appx-web:///css/default.css" rel="stylesheet" />
    <link href="ms-appx-web:///css/transitions.css" rel="stylesheet" />
    <link href="ms-appx-web:///css/landing.css" rel="stylesheet" />
</head>
<body>
    <script src="ms-appx-web:///js/main.js"></script>
    <script src="ms-appx-web:///js/landing.js"></script>

    <div id="layoutRoot" class="fadeInTransition">
        <p id="title" class="mainContent textContent fadeInTransition">StreamBED</p>

        <button id="nextButton" class="button roundButton"
                onmouseover="buttonOnMouseOver()" onmouseleave="buttonOnMouseLeave()"
                onclick="nextButtonOnClick()">
            Start Assessment
        </button>
    </div>
</body>
</html>
